* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
.main,
.users {
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

h1 {
  font-size: 3rem;
  position: relative;
  bottom: 100px;
  background-color: #fff;
  color: #000;
  border: 0.5px solid #000;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 20rem;
  width: 100%;
}

.navigation {
  position: relative;
  bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

a:hover {
  background-color: #fff;
  color: #000;
  border: 0.5px solid #000;
  font-weight: 600;
}

.error,
.errFallBack {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

.error h1,
.errFallBack p {
  color: red;
}

.error p,
.errFallBack p {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.error a,
.errFallBack button {
  background-color: green;
  color: #fff;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1.5rem;
}

.error a:hover {
  background-color: #fff;
  color: green;
  border: 0.5px solid #000;
  font-weight: 600;
}

.user h2 {
  position: relative;
  top: 4rem;
}

.user-list {
  margin-top: 5rem;
}

.list{
  margin-bottom: .5rem;
  display: flex;
}

.single-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 0.5px solid #000;
  padding: 0 0 1rem 1rem;
}

.single-user img{
  width: 13rem;
  height: 12.5rem;
}

.single-user span{
  font-weight: bolder;
}

.pages {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: 0.5px solid #000;
  cursor: pointer;
  transition: 0.5s;
}

.pages:hover {
  background-color: #000;
  color: #fff;
  border: 0.5px solid #000;
  font-weight: 600;
}

.pagination{
  margin: 2rem .5rem;
}

.prev,
.next {
  background-color: #000;
  color: #fff;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader h1{
  color: #fff;
  background-color: #000;
  font-size: 20px;
  padding: 20px;
  font-weight: 600;
  text-align: center;
  max-width: 300px;
  width: 100%;
  animation: loader 5s;
}

@keyframes loader {
  0%{
    transform: translateX(-500px);
  }
  50%{
    transform: translateX(500px);
  }
  100%{
    transform: translateX(0);
  }
}

@media screen and (max-width: 680px) {
  .user h2 {
    padding-left: .9rem;
  }

  .single-user{
    margin-left: 1rem;
    padding: 0;
  }
}

@media screen and (min-width: 681px) {
  .main img {
    height: 440px;
    width: 600px;
  }

  .error img {
    height: 300px;
    width: 500px;
  }
}
